body {
    background: #e7e4e7
}

.logo {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 50%;
    background: #e7e4e7;
    box-shadow: 5px 5px 5px #d8d6d6, -5px -5px 10px #ffffff;
}

.logo svg .cl1, .logo svg .cl2, .logo svg .cl3, .logo svg .cls-4 {
    fill: none;
}

.logo svg .cl1, .logo svg .cls-4 {
    stroke: #272839;
}

.logo svg .cl1, .logo svg .cl3, .logo svg .cls-4 {
    stroke-width: 15px;
}

.logo svg .cl3 {
    stroke: #2337f1;
}

.logo svg .cl3, .logo svg .cls-4 {
    stroke-linecap: round;
}

.logo svg .cls-5 {
    stroke: none;
}

#anilloExterno {
    stroke-dasharray: 1250;
    stroke-dashoffset: 0;
    animation: animacionLogoGeneral 0s ease-out forwards, animacionAnilloExterno 2s linear 2.5s forwards;
}

#letra-A-1 {
    stroke-dasharray: 452;
    stroke-dashoffset: 0;
    animation: animacionLogoGeneral 2s ease-out forwards, animacionLetraA 2s linear 2.5s forwards;
    transform-origin: 0 0;
}

#brazo-letra-U-1 {
    animation: animacionLogoGeneral 2s ease-out forwards, animacionBrazoLetraU 2s linear 2.5s forwards;
    stroke-dasharray: 197;
    stroke-dashoffset: 0;
}

#parte-baja-letra-U-1 {
    animation: animacionLogoGeneral 1s ease-out forwards, animacionParteBajaLetraU 2s linear 2.5s forwards;
    stroke-dasharray: 288;
    stroke-dashoffset: 0;
}

@keyframes animacionLogoGeneral {
    0% {
        transform: scale(1.04);
        stroke-width: 0;
    }
    100% {
        stroke-width: 20px;
    }
}

@keyframes animacionLetraA {
    from {
        stroke-dashoffset: 452px;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes animacionBrazoLetraU {
    from {
        stroke-dashoffset: 197px;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes animacionParteBajaLetraU {
    from {
        stroke-dashoffset: 288px;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes animacionAnilloExterno {
    from {
        stroke-dashoffset: 1250px;
    }
    to {
        stroke-dashoffset: 0;
    }
}

#letra-A {
    /* Espera 5s para que que la letra A se ubique, en 1s,  en la posición correcta  en un solo paso(step) */
    animation: rotarLetraA 1s steps(15, end) 5s forwards;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes rotarLetraA {
    0% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}